<launch>
    <!-- Launch the avt_vimba_camera using its provided launch file -->
    <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
        <arg name="ip" value="10.205.3.35" />
        <arg name="camera_info_url" value="file://$(find remote_lab)/config/ost.yaml"/>
        <arg name="gain_auto" value="Off"/>
        <arg name="gain" value="0"/>
        <arg name="acquisition_rate" value="20"/>
        <arg name="image_proc" value="true"/>
    </include>

    <!-- Launch the rosbridge_websocket node -->
    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
        <param name="port" value="9090"/>
    </node>

    <!-- Launch the rosapi node -->
    <node name="rosapi" pkg="rosapi" type="rosapi_node" output="screen">
        <param name="topics_glob" value="/*" />
        <param name="services_glob" value="/*" />
        <param name="params_glob" value="/*" />
    </node>
</launch>
